@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.reset-password-full-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 35%;
    text-align: center;
    margin-top: 12vh;
}

.account-recovery-text {
    padding-bottom: 20px;
    font-size: 2.5em;
    font-weight: bold;
}

.reset-password-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    text-align: left;
    border-radius: 20px;
    box-shadow: 0px 0px 6px gray;
    font-family: 'Lato', Helvetica, sans-serif;
}

.reset-password-title {
    padding: 10px;
    font-size: 1.8em;
}

.find-account-container {
    display: flex;
    flex-direction: column;
}

.email-prompt {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.email-prompt label {
    padding-bottom: 10px;
}

.email-prompt input {
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    border: 2px solid gray;
}

.find-account-buttons {
    padding: 12px 10px 10px 10px;
    text-align: right;
}

.reset-back-button {
    margin-right: 10px;
    padding: 8px 10px 8px 10px;
    background-color: rgb(214, 208, 208);
    color: black;
    font-weight: bold;
    border-radius: 8px;
    border: none;
}

.reset-submit-button {
    padding: 8px 10px 8px 10px;
    background-color: rgb(122, 36, 101);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}

.reset-submit-button:hover {
    background-color: rgb(90, 33, 76);
    cursor: pointer;
}

.reset-back-button:hover {
    background-color: rgb(182, 176, 176);
    cursor: pointer;
}