.hr-dashboard-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.hr-dashboard-sidebar {
    width: 250px;
    background-color: gray;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.hr-dashboard-container h1 {
    font-size: 3em;
    font-family: 'Montserrat', Helvetica, sans-serif;
}

.hr-dashboard-sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
}

.hr-dashboard-sidebar li {
    margin: 15px 0;
}

.hr-dashboard-sidebar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.hr-dashboard-sidebar a:hover {
    background: rgb(63, 62, 62);
}

.hr-dashboard-sidebar .active-link {
    background: rgb(63, 62, 62);
    font-weight: bold;
}

.hr-dashboard-main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
    height: 100vh;
    flex-grow: 1;
    padding: 20px;
}

.hr-dashboard-sidebar a span {
    margin-left: 6px;
}