.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 200px;
  width: 600px;
  background-color: rgba(81, 0, 255, 0.855);
  padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
    
}
.text{
   color: white;
   font-size: 30px;
   font-weight: 1000;
}
.underline{
   width: 61px;
   height: 6px;
   background: blue;
   background-radius: 9px;

}
.inputs{
   margin-top: 55px;
   display: flex;
   flex-direction: column;
   gap: 25px;

}
.input{
   display: flex;
   align-items: center;
   margin: auto;
   width: 480px;
   height: 50px;
   background: #ffffffe3;
   border-radius: 6px;

}
.inputs input{

   height: 50px;
   width: 400px;
   background: transparent;
   border: none;
   outline: none;
   color: grey;
   font-size: 19px;

}
.Forgot-password{
   padding-left: 62px;
   margin-top: 27px;
   color: rgba(236, 232, 232, 0.911);
   font-size: 18px;
}
.Forgot-password span{
   color: rgba(128, 0, 128, 0.792);
   cursor: pointer;

}
.submit-container{
   display: flex;
   gap: 30px;
   margin: 100px auto;
   justify-content: center;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: white;
    background: #cdd5d5e6; /* A cleaner RGBA color */
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold; /* Simplified */
    cursor: pointer;
    transition: background 0.3s ease; /* Adding smooth hover effect */
}