@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
   width: 80%;
   margin: auto;
   padding: 0;
}

.container {
   display: flex;
   flex-direction: column;
   margin: auto;
   margin-top: 20vh;
   width: 35%;
   padding: 10px;
   text-align: center;
   border-radius: 20px;
   box-shadow: 0px 0px 15px gray;
   font-family: 'Poppins';
}

.login-title {
   color: blue;
   padding: 10px;
   font-size: 2.5em;
}

.inputs {
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.input {
   display: flex;
   align-items: center;
   margin: auto;
   border-radius: 6px;
   border: 1px gray solid;
   position: relative;
   width: 70%;
}

.input i {
   position: relative;
   left: 10px;
   color: gray;
}

.profile-container {
   position: absolute;
   top: 10px;
   right: 20px;
}

.profile-icon {
   font-size: 24px;
   color: #333;
   cursor: pointer;
}

.dropdown-menu {
   position: absolute;
   top: 40px;
   right: 0;
   background: white;
   border: 1px solid #ddd;
   border-radius: 5px;
   width: 150px;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu a {
   display: flex;
   align-items: center;
   display: block;
   padding: 10px;
   text-decoration: none;
   color: black;
   white-space: nowrap;
}

.dropdown-menu a:hover {
   background: #f0f0f0;
}

.dropdown-menu a i {
   margin-right: 8px;
}

.inputs input {
   height: 40px;
   width: 70%;
   background: transparent;
   border: none;
   padding-left: 20px;
   outline: none;
   color: black;
   font-size: 15px;
}

.forgot-password {
   padding-bottom: 20px;
}

.forgot-password a {
   text-decoration: none;
   color: blueviolet;
}

.forgot-password a:hover {
   text-decoration: underline;
}

.submit-container {
   display: flex;
   gap: 30px;
   margin: auto;
   padding: 30px 30px 20px 30px;
}

.login-button {
   background-color: blue;
   color: white;
   padding: 10px 20px 10px 20px;
   border-radius: 10px;
   font-weight: bolder;
   font-size: 1em;
   border: none;
   cursor: pointer;
   transition: all 0.3s ease;
}

.login-button:hover {
   background-color: blue;
   transform: scale(1.1);
   box-shadow: 0px 0px 5px gray;
}