.setup-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20vh;
    width: 40%;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 15px gray;
    font-family: 'Poppins', Helvetica, sans-serif;
}

.setup-container h1 {
    color: rgb(122, 36, 101);
    padding: 10px;
    font-size: 2em;
}

.setup-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto;
    align-items: center;
}

.setup-inputs input {
    height: 5vh;
    width: 100%;
    background: transparent;
    border: 1px gray solid;
    border-radius: 6px;
    padding-left: 20px;
    outline: none;
    color: black;
    font-size: 15px;
}

.setup-inputs button {
    background-color: rgb(122, 36, 101);
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1em;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    margin-bottom: 20px;
}

.setup-inputs button:hover {
    background-color: rgb(122, 36, 101);
    transform: scale(1.1);
    box-shadow: 0px 0px 5px gray;
}

.setup-error-message {
    color: red;
    padding-top: 4px;
    padding-bottom: 0;
    font-size: 1em;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
 }
 
 .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid rgb(122, 36, 101);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
 } 

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
 }
 